@import './base.css';

.nav-links {
    margin-top: 1em;
    margin-bottom: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2em;
    list-style-type: none;
    text-decoration: none;
    color: white;
}

.nav-links li a{
    text-decoration: none;
    font-size: 2em;
    color: #494747;
}

.nav-links li a:hover{
    color: #c0bbbb;
}

.nav-links li a.active {
    text-decoration: underline;
    color: white;
}

nav {
    border-bottom: 2px solid var(--color-border);
}